<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.petcare.common.config.mapper.CommonConfigMapper">

<!--
  역할: CommonConfigMapper SQL 정의

  쿼리 id 예시
  - selectConfigList
  - selectConfigByKey

  테이블
  - TB_CONFIG
-->

</mapper>
