<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcare.petcare.petmap.mapper.PetmapMapMapper">

<!--
  역할: PetmapMapMapper SQL 정의

  쿼리 id 예시
  - selectBusinessByRegion
  - selectBusinessByCategory

  테이블
  - TB_BUSINESS
-->

</mapper>
